/************************************************
****************STYLES GENERAL*******************
************************************************/

/* Set the width and height to 100% for html and body */
html,body{
    width: 100%;
    height: 100%;
}

/* Resets the padding, margin and box-sizing for all elements */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Removes the default list styles */
ul{
    list-style: none;
}

/************************************************
***************STYLES TABLE**********************
************************************************/

table{
    width: 100%;
    border-collapse: collapse;
}

thead{
    border-bottom: 1px solid #bfbfbf;
}

th, td {
    padding: 15px 20px 10px 0;
    text-align: center;
}

/************************************************
**************STYLES CALENDAR********************
************************************************/
.calendar {
    background-color: #fff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
}
  
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
  
.button_calendar{
    border: none;
    padding: 0 4px;
    background: none;
    cursor: pointer;
}
  
#monthYear{
    font-size: 17px;
}
  
.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 4px;
}
  
.day:hover{
    background-color: #dadada62;
    border-radius: 7px;
    cursor: pointer;
}
  
.day, .weekday {
    padding: 5px;
    text-align: center;
}
  
.weekday {
    color: #656565e4;
}
  
.inactive {
    color: #c1c1c1;
}
  
.inactive:hover{
    background: none;
}
  
.today {
    background-color: #dadada8b;
    border-radius: 7px;
    color: black;
    font-weight: 700;
}

/************************************************
***************STYLES LOGIN**********************
************************************************/

/* Login form main container  */
.container_login{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
}

/* Style for the logo image */
.img_login{
    margin-top: -80px;
    width: 300px;
    height: 300px;
}

/* Container for input fields */
.container_inputs{
    margin-top: -30px;
    width: 100%;
}

/* Estilo para los campos de entrada */
.container_inputs input{
    padding: 10px;
}

/* Contenedor del campo de nombre de usuario */
.container_input_username{
    margin-bottom: -16px;
}

/* Input group */
.input-group{
    position: relative;
}

/* Icono de advertencia */
.bi-exclamation-circle{
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}

/* Feedback message */
.feedback{
    margin-top: 8px;
    margin-bottom: 30px;
    color: rgb(255, 0, 0);
}

/* Contenedor del botón de inicio de sesión */
.container_buttonLogin {
    text-align: center;
    margin-top: 40px;
}

/* Login button style */
.container_buttonLogin button {
    padding: 7px 50px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

/************************************************
****************STYLES ADMIN*********************
************************************************/
.container_dashboard{
    background: #f4f4f5;
    width: 100%;
    min-height: 100vh;
}

/*  NAV ADMIN IN MOBILES    */
.mobile{
    background: #ffffffbd;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.offcanvas-header{
    border-bottom: 1px solid #c9c9c999;
    box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.2);
}

.container_links_nav_dashboard{
    padding: 20px 0 0 0;
}

.container_links_nav_dashboard li{
    cursor: pointer;
    color: #64646a;
    margin-bottom: 20px;
    padding: 15px 7px;
}

.container_links_nav_dashboard li span{
    margin-left: 12px;
}

.container_links_nav_dashboard li:hover{
    background-color: #f4f4f5;
    color: #000000;
    border-radius: 6px;
}

.header_menu_dashboard,.body_menu_dashboard,.footer_menu_dashboard{
    display: none;
}

/*  CONTENT DASHBOARD ADMIN   */
#dashboard_content{
    padding: 35px 20px 35px 20px;
}

/*  APPOINMENTS DASHBOARD   */
.header_appoinment ul{
    display: flex;
    padding: 0;
    margin-top: 35px;
}

.header_appoinment ul li{
    background: #ffffff;
    border: 1px solid #c9c9c999;
    margin-right: 20px;
    padding: 5px 20px;
    border-radius: 6px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.calendar {
    margin-top: 40px;
}

.viewAppointment{
    height: 300px;
    background: white;
    padding: 12px;
    border-radius: 6px;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
    margin-top: 40px;
    overflow-y: auto;
}

#appoinmentDate{
    font-size: 22px;
    margin-bottom: 20px;
}

.container_links_nav_dashboard li.active{
    background-color: #f4f4f5;
    color: #000000;
    border-radius: 6px;
}

/* Responsive styling for screens of at least 600px */
@media (min-width:600px){

    /* LOGIN  */
    .container_login{
        padding: 0 110px;
    }

    /*  DASHBOARD ADMIN */
    #dashboard_content{
        padding: 35px 60px;
    }

}

/* Responsive styling for screens of at least 768px */
@media (min-width:768px) {

    /*  LOGIN   */
    .container_login{
        padding: 0 25%;

    }

    .img_login{
        width:300px;
        height: 300px;
    }

    .container_inputs input{
        padding: 10px 100px 10px 10px;
    }

    /*  DASHBOARD ADMIN */
    .mobile{
        display: none;
    }

    .container_dashboard{
        display: flex;
        background: none;
    }

    nav{
        border-right: 1px solid #c9c9c999;
        width: 280px;
        position: relative;
    }

    .header_menu_dashboard,.body_menu_dashboard,.footer_menu_dashboard{
        display: block;
    }

    .header_menu_dashboard{
        display: flex;
        align-items: center;
        padding: 15px 0 15px 20px;
        border-bottom: 1px solid #c9c9c999;
    }

    .container_links_nav_dashboard{
        padding: 20px 0 0 15px;
    }

    .footer_menu_dashboard{
        position: absolute;
        bottom: 10%;
        padding-left: 25px;
    }

    .footer_menu_dashboard button{
        border: none;
        background: none;
        color: #64646a;
        font-size: 17px;
    }

    .footer_menu_dashboard button:hover{
        color: rgb(186, 32, 32);
    }

    #dashboard_content{
        flex-grow: 1;
        background: #f4f4f5;
        padding: 40px 20px 40px 20px;
    }

    #dashboard_content{
        padding: 35px 20px 35px 20px;
    }
    
    .viewAppointment{
        height: 370px;
    }

}

/* Responsive styling for screens of at least 1020px */
@media (min-width: 1020px ) {

    /*  LOGIN   */
    .container_login{
        padding: 0 35%;
    }

    .img_login{
        width: 300px;
        height: 300px;
    }

    .container_inputs input{
        padding: 10px 10px 10px 10px;
    }

    /*  DASHBOARD ADMIN */
    #dashboard_content{
        padding: 20px 25px 20px 25px;
    }

    .header_appoinment{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .body_appoinment{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 100px;
        margin-top: 50px;
        background-color: white;
        padding: 20px 20px;
        border-radius: 6px;
    }

    .calendar {
        margin-top: 0;
        width: 300px;
        height: 325px;
        border-radius: none;
        box-shadow: none;
    }

    .viewAppointment{
        margin-top: -5px;
        flex: 1;
        height: 320px;
        border: 1px solid #c9c9c999;
    }

}